!!! 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='author', content='Sean Lai')
    meta(name='description', 
        content= description)
    meta(name='keywords', content='Origami, Automata, Design')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
  body
    div.container
        div.row
            div.span12.fixed
                ul.nav.nav-pills.pull-right.mainnav 
                    li(class=path=='/'?'active':undefined)
                        a(href='/') Home
                    li(class=path=='/work'?'active':undefined)
                        a(href='/work') Work
                    li(class=path=='/minisites'?'active':undefined)
                        a(href='/minisites') Minisites
                    li(class=path=='/about'?'active':undefined)
                        a(href='/about') About
                    li(class=path=='/contact'?'active':undefined)
                        a(href='/contact') Contact
                a(href='/')
                    h3.muted.pull-left Built by Sean
                block seconary-nav
    div.container
        block content
    script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
    script(src='/lib/bootstrap/js/bootstrap.js')