!!! 5
html
    head
        title= title
        meta(name='author', content='Sean Lai')
        link(rel='stylesheet', href='/stylesheets/minisites/energy.css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Source+Code+Pro', rel='stylesheet', type='text/css')
        script(src='/javascripts/minisites/energy.js')
    body
        div.container
            div.header
                h1 Layman's Energies
            div.energybox
                h3 Energy contained in
                form
                    input#butter(type="text", placeholder="Grams of butter", name="butter", value="",
                    onblur="outputEnergies(this.value ,this.name)")
                h3 grams of butter
            div.energybox
                h3 Energy needed to boil
                form
                    input#water(type="text", placeholder="Litres of water", name="water",
                    onblur="outputEnergies(this.value ,this.name)")
                h3 litres of water from room temperature
            div.energybox
                h3 Kinetic energy of
                form
                    input#volkswagen(type="text", placeholder="Number of Volkswagens", name="volkswagen",
                    onblur="outputEnergies(this.value ,this.name)")
                h3 VW Beetles dropped from 2 meters
            div.energybox
                h3 Energy contained in
                form
                    input#battery(type="text", placeholder="Number of Macbook Airs", name="battery",
                    onblur="outputEnergies(this.value ,this.name)")
                h3 Macbook Air batteries
            div.energybox
                h3 Energy of
                form
                    input#food(type="text", placeholder="Number of intakes", name="food",
                    onblur="outputEnergies(this.value ,this.name)")
                h3 2000 Calorie recommended daily food intakes
            div.energybox
                h3 Energy of
                form
                    input#nuclear(type="text", placeholder="Grams of Uranium-235", name="nuclear",
                    onblur="outputEnergies(this.value ,this.name)")
                h3 grams of Uranium-235 undergoing nuclear fission
            div.energybox
                h3 Energy of a strong amateur cyclist pedaling for
                form
                    input#cyclist(type="text", placeholder="Hours of pedaling", name="cyclist",
                    onblur="outputEnergies(this.value ,this.name)")
                h3 hours
            div(style="clear:both")
